.fav-movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  margin-top: 5rem;
}

img {
  width: 200px;
  height: auto;
}

.no-fav-message {
  position: absolute;
  top: 40%;
  left: 40%;
}
